/* Reset some default browser styles */
body, h2, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 3rem;
    font-size: 22pt;
}

/* Body styling */
body {
    font-family: 'Google Sans';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

/* Main content to fill available space */
main {
    flex: 1;
}

/* Header styling */
header {
    background-color: #7f8c8d;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Top navigation styling */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-nav .name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12; /* Highlight color on hover */
}

/* Hide the menu for mobile devices */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide the navigation on mobile */
        flex-direction: column;
        background-color: #7f8c8d;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    /* Show navigation when menu is toggled */
    nav ul.show {
        display: flex;
	left: 0; /* Left-align the navigation list */
        text-align: left; /* Ensure text in navigation is left-aligned */
    }

    nav ul li {
        margin: 10px 0;
        text-align: left;
    }

    /* Hamburger menu button styling */
    .menu-btn {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 1.5rem;
	position: absolute;
        left: 10px; /* Left-align the menu button */
        top: 10px;  /* Keep it at the top */
    }
}

/* Hide the hamburger menu for larger screens */
.menu-btn {
    display: none;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }
}

/* Footer styling */
footer {
    background-color: #f4f4f9;
    color: white;
    text-align: right;
    padding: 5px 5;
    display: flex;          /* Use flexbox for layout */
    justify-content: space-between; /* Space between the elements */
    align-items: center;    /* Center the items vertically */
    padding: 10px 20px;     /* Adjust the padding for better spacing */
}

.copyright {
    margin-left: 2rem;      /* Add some margin to separate from the left edge */
    color: gray;
}

.social-links {
    margin-right: 0.5rem;     /* Add some margin to separate from the right edge */
}

.social-links a {
    color: inherit;
    margin: 0 10px;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
}

.social-links .linkedin i {
    color: #0072b5; /* LinkedIn icon color */
}

.social-links .github i {
    color: #000; /* github icon color */
}

.social-links .orcid i {
    color: #A6CE39; /* ORCID icon color */
}

.social-links .gmail .iconify {
    color: #ea4335; /* Gmail icon color */
}

.scholar-icon {
    width: 26px !important;
    height: 26px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}


.social-links .scholar-icon {
    margin-bottom: 0.5rem; 
    vertical-align: middle; /* Align the icon with the text */
}

.dblp-icon {
    width: 26px !important;
    height: 26px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}


.social-links .dblp-icon {
    margin-bottom: 0.5rem; 
    vertical-align: middle; /* Align the icon with the text */
}

.social-links a:hover {
    opacity: 0.7;
}

.hero {
    background: url('hero-background.jpg') no-repeat center center/cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content {
    color: #fff;
    text-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-family: 'Pacifico', cursive;
    font-size: 14pt;
}

.hero-content.custom-position {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-10%, -20%);
}

.introduction {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.intro-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 2rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
    max-width: 100%;
}

.intro-text {
    max-width: 600px;
}

.intro-text h2 {
    margin-bottom: 1rem;
}

.intro-text p {
    line-height: 1.5;
}

.intro-text a {
    color: blue;
    text-decoration: none;
}

.intro-text a:hover {
    text-decoration: underline;
    color: darkblue;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    header {
        position: relative;
    }
    nav ul {
        flex-direction: column;
        display: none;
    }
    nav ul.show {
        display: flex;
    }
    nav ul li {
        margin: 10px 0;
    }
}


.education {
    padding: 2rem;
}

.education h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.projects {
    padding: 2rem;
}

.projects h2 {
    text-align: left;
    margin-bottom: 2rem;
}

.workshops {
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
}

.event {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.event h3 {
    margin: 0;
    color: #333; /* Dark color for headings */
}

.event p {
    margin: 5px 0;
    color: #555; /* Slightly lighter color for text */
}

.evente {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd; /* Light border around each event */
    border-radius: 8px; /* Rounded corners */
    background-color: #dcdcdc;
    text-align: left;
}

.evente h3 {
    margin: 0;
    color: #333; /* Dark color for headings */
}

.evente p {
    margin: 5px 0;
    color: #555; /* Slightly lighter color for text */
}

.eventa {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 3px;
    border: 1px solid #ddd; /* Light border around each event */
    border-radius: 8px; /* Rounded corners */
    text-align: left;
}

.eventa h3 {
    margin: 0;
    color: #333; /* Dark color for headings */
}

/* styles.css */

.hero-education .hero-content {
    position: absolute;
    top: 30%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-education {
    position: relative;
    background: url('path/to/your/background-image.jpg') no-repeat center center/cover; /* Add your background image */
    height: 50vh; /* Adjust as needed */
}

.hero-projects .hero-content {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 45%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-projects {
    position: relative;
    background: url('path/to/your/background-image.jpg') no-repeat center center/cover; /* Add your background image */
    height: 50vh; /* Adjust as needed */
}

.hero-achievements .hero-content {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-achievements {
    position: relative;
    background: url('path/to/your/background-image.jpg') no-repeat center center/cover; /* Add your background image */
    height: 50vh; /* Adjust as needed */
}

.hero-workshops .hero-content {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FDFEFE;
}

.hero-workshops {
    position: relative;
    background: url('path/to/your/background-image.jpg') no-repeat center center/cover; /* Add your background image */
    height: 50vh; /* Adjust as needed */
}

.hero-contact .hero-content {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 45%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-contact {
    position: relative;
    background: url('path/to/your/background-image.jpg') no-repeat center center/cover; /* Add your background image */
    height: 52vh; /* Adjust as needed */
}

.education .content {
    max-width: 800px;
    margin: 0 auto;
}

.projects .content {
    max-width: 800px;
    margin: 0 auto;
}

#image {
    list-style-image: url(h3.png);
}

/* styles.css */

/* General styling for links */
a {
    color: blue;
    text-decoration: none;
}

/* Hover effect for links */
a:hover {
    text-decoration: none;
}

/* Shaded box for the entire content */
.content {
    background-color: #DBEFF1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Add this line to ensure left alignment */
}

.degree {
    margin-bottom: 2rem;
    text-align: left;
}

.degree h3 {
    margin-bottom: 0.5rem;
}

.degree p {
    margin: 0.2rem 0;
    font-size: 1rem;
}




.hero-projects {
    background: url('projects-hero-background.jpg') no-repeat center center/cover;
}

.hero-contact {
    background: url('contact-hero-background.jpg') no-repeat center center/cover;
}

.hero-achievements {
    background: url('achievements-hero-background.jpg') no-repeat center center/cover;
}

.hero-workshops {
    background: url('workshops-hero-background.jpg') no-repeat center center/cover;
}

.hero-contact {
    background: url('contact-hero-background.jpg') no-repeat center center/cover;
}
